{% extends 'partials/anonymous_base.html' %}

{% block content %}

{% include 'landing/nav.html' %}

<div class="w-4/5 mx-auto p-4 flex flex-row">
  <div class="">
    <div>
      <h1 class="text-5xl font-serif">Chart the course.<br />Share the journey.</h1>
      <p>Candorship helps you build radically open organizations and communities.</p>
    </div>
    <div>
      <a href="upper">Learn More</a>
    </div>
  </div>

  <div class="">
    <img src=""></a>
  </div>
</div>

<div class="w-full bg-orange-600 text-white py-4">
  <div class="flex flex-row gap-x-6 text-lg">
    <p>Openess by default</p>
    <p>No anonymity</p>
    <p>Community</p>
    <p>Transparency</p>
    <p>Build trust</p>
  </div>
</div>

{% endblock %}